POSTGRES_USER=bingus
POSTGRES_PASSWORD=troque
POSTGRES_DB=bingus
DATABASE_URL=postgresql://bingus:troque@postgres:5432/bingus
BINGUS_API_KEYS=pc:troque1,dedicado-fetch:troque2,dedicado-embed:troque3
BINGUS_FETCH_KEY=troque2
BINGUS_EMBED_KEY=troque3
BINGUS_EMBED_URL=http://embed:8100
OPENROUTER_KEY=
VITE_API_URL=https://api.shiftsad.dev