# Borda pública. No cenário com VPS na frente do dedicado, troque api:8000 e frontend:80
# pelos endereços da WireGuard.
api.shiftsad.dev {
    encode gzip
    reverse_proxy api:8000

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

bingus.shiftsad.dev {
    encode gzip
    reverse_proxy frontend:80

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}
